          <div class="panel panel-default">
              <div class="panel-heading">
                  <span class="pull-left">回答待ち一覧</span>
                  <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                  <li><%= link_to "more..", edit_user_path(current_user) %></li>     <!--編集画面へのリンク-->
              </div>
          </div>
