          <div class="panel panel-default">
              <div class="panel-heading">
                  <span class="pull-left">
                    <i class="fa fa-book fa-2x"></i>
                      Category
                  </span>
                  <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                    <% if @user.questions.any? %>
                      <h3>Questions (<%= @user.questions.count %>)</h3>
                      <ol class="questions">
                        <%= render @questions %>
                      </ol>
                    <% end %>
              </div>
          </div>
