          <div class="panel panel-default">
              <div class="panel-heading">
                  <span class="pull-left">お気に入り</span>
                  <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                  <a href="#">
                      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  </a>
              </div>
          </div>
