<div class="panel panel-default">
  <div class="panel-heading">

      <span class="pull-left">
            <i class="fa fa-comments fa-2x"> Questions!</i>
      </span>
      <div class="clearfix">
      </div>
  </div>
  <div class="panel-body">
    
      <% @questions.each do | question | %>
          <%= question.content %>
          (
            <%= link_to "edit" , edit_answer_path(question) %>
          )
        <br>
      <% end %>

    
  
      <a href="#">
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
      </a>
  </div>
</div>
