  <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <!-- フォーム -->
            <form class="navbar-form navbar-right" role="search">

              <div class="form-group">
                <input type="text" class="form-control" placeholder="検索">
                <button type="submit" class="btn btn-primary glyphicon glyphicon-search"></button>
              </div>
            </form>
          </div>
        </div>
      </nav>
